body {
  font-family: Arial, sans-serif;
  background: #fbf3e6;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #1e1e1e50;
  border:1px solid grey;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
  color: #000000;
}

.input-group {
  display: flex;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  background: #91919116;
  border:1.5px solid rgb(124, 124, 124);
  color: #fff;
}

input::placeholder {
  color: #e4e1e1;
}

button {
  padding: 10px 20px;
  border: none;
  background:white;
  border: 1.5px solid rgb(124, 124, 124);
  color: #000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  background-color: rgba(128, 128, 128, 0.57);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  background: #757575;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

li.completed span {
  text-decoration: line-through;
  color: #888;
}

li span {
  cursor: pointer;
}
